@model Course

<h2>@Model.Name</h2>
<p>@Model.Description</p>
<p>Enrolled students: @Model.StudentsEnrolled</p>
<a href="/courses/enroll/@Model.Id">Enroll in this course</a> | 
<a href="/courses">Back to courses</a>
