@{
    ViewData["Title"] = "Home";
}

<h1>Ласкаво просимо!</h1>

<ul>
    <li><a href="/Product/GetAll">All products</a></li>
    <li><a href="/Home/RedirectToAnotherController">Redirect to another controller</a></li>
    <li><a href="/Product/Details/1">First product details</a></li>
    <li><a href="/Product/DownloadPriceList">Download price list</a></li>
    <li><a href="/Redirect/RedirectWithParams/5">Redirect with parameter: id 5</a></li>
</ul>
