<h1>Main page</h1>

<h2>Courses</h2>
<ul>
    <li><a href="/courses">All courses</a></li>
    <li><a href="/top-courses">Top 3 courses by enrollment</a></li>
</ul>

<h2>Blogs</h2>
<ul>
    <li><a href="/blog">Latest blogs</a></li>
</ul>